#main-body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #efefef;
}

#grid-container {
    display: flex;
    height: 750px;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #dddddd;
    margin: 24px;
    border-radius: 20px;
    overflow: clip;
}

.gridCell {
    flex-grow: 1;
    background-color: black;
}